# User-specific build properties
#Directory.Build.user.props

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
msbuild.log
msbuild.err
msbuild.wrn
_site/
api/
_exported_templates/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.tmp
*.userprefs
*.sln.docstates

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet Packages
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/ 